{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RH_explica</title>
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
</head> 
<body>
    <div id="grid" >
        <header class="header">
            <a href="" class="logo"><span>RH:</span>explica</a>
            <ul class="menu">
              <li><a href="home">HOME</a></li>
              <li><a href="#sobre">SOBRE</a></li>
              <li><a href="#contato">CONTATO</a></li>
              <li><a href="#contribua">CONTRIBUA</a></li>
            </ul>
        </header>
        <nav>
            <div>
                <img src="static/imagens/Modelos.png" alt="">
                <a href="">Modelos de Contração</a>
            </div>

            <div>
                <img src="static/imagens/Desempregado.png" alt="">
                <a href="">Desempregado</a>
            </div>

            <div>
                <img src="static/imagens/Impostos.png" alt="">
                <a href="">Impostos</a>
            </div>

            <div>
                <img src="static/imagens/Aposentado.png" alt="">
                <a href="">Aposentado</a>
            </div>
        </nav>




        <section>
            <p>COMO É O MODELO DE CONTRATAÇÃO CLT</p>
            

        </section>



    </div>
</body>  