{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
</head>
<body>
    <div id="grid" >
        <header class="header">
            <a href="" class="logo"><span>RH:</span>explica</a>
            <ul class="menu">
              <li><a href="home">HOME</a></li>
              <li><a href="#sobre">SOBRE</a></li>
              <li><a href="#contato">CONTATO</a></li>
              <li><a href="#contribua">CONTATO</a></li>
            </ul>
        </header>
        <nav>
            <div>
                <img src="static/imagens/Modelos.png" alt="">
                <a href="">Modelos de Contração</a>
            </div>

            <div>
                <img src="static/imagens/Desempregado.png" alt="">
                <a href="">Desempregado</a>
            </div>

            <div>
                <img src="static/imagens/Impostos.png" alt="">
                <a href="">Impostos</a>
            </div>

            <div>
                <img src="static/imagens/Aposentado.png" alt="">
                <a href="">Aposentado</a>
            </div>
        </nav>
        <section>
                <h1>Sabe todas aqueles termo difíceis quando começou a trabalhar
                    ou quando se aposentou?</h1>
                <p>Não fique perdido no meio de tanta burocracia!<br />
                Nós descomplicamos para você. <br />
                </p>
                <div>
                    <input placeholder="O que você procura?" type="text">
                    <div id='botao'><button><img src="static/imagens/buscar.svg" alt=""></button></div>
                </div>
        
            
        </section>

        <aside>
            <div>
                <h1>SOBRE</h1>
                <p>A RH:explica é um site que aborda assuntos relacionados à área trabalhista.<br />
                    Direto ao ponto, sem enrolação e sem palavras difíceis que sabemos que só confundem.<br />
                    Aqui irem explicar tudo da melhor forma.
                </p>
                <div id="emlinha">
                        <div>
                            <a class="verde" href=""><img src="static/imagens/portfolio.png" alt=""></a>
                            <h2>Modelos de<br/> Contratação</h2>
                            <ul>
                                <li ><a id="clt" href="clt">CLT</a></li>
                                <li>PJ</li>
                                <li>Freelancer</li>
                            </ul>
                        </div>
                        <div>
                            <a class="amarelo" href=""><img src="static/imagens/piggy-bank.png" alt=""></a>
                            <h3>Desempregado</h3>
                            <ul>
                                <li>Fui demitido</li>
                                <li>Pedi demição</li>
                            </ul>
                        </div>
                        <div>
                            <a class="azul" href=""><img src="static/imagens/imposto.png" alt=""></a>
                            <h4>Impostos<br/> Trabalhistas</h4>
                            <ul>
                                <li>FGTS</li>
                                <li>INSS</li>
                                <li>Sindical</li>
                                <li>Imposto de renda</li>
                            </ul>
                        </div>
                        <div>
                            <a class="laranja" href=""><img src="static/imagens/bars.png" alt=""></a>
                            <h5>Aposentadoria</h5>
                            <ul>
                                <li>O que preciso?</li>
                                <li>Calculadora de previdência</li>
                            </ul>
                        </div>
                </div>








            </div>

            <div>
                <h1>CONTRIBUA</h1>
                <p>Tem algum assunto que acha importante para o site e que não falamos?<br />
                    Quer contribuir com algum valor? (lembrando que o site é sem fins lucrativos)<br />
                    Entre em contato pelo e-mail: contribua@RHexplica.br
                </p>
            </div>

            <div>
                <h1>CONTATO</h1>
                <p>Contate-nos por meio das redes sociais: 
                    <ul>
                        <li><img src="static/imagens/logoinsta.png" alt="">@RHexplica</li>
                        <li><img src="static/imagens/logotwitter.png" alt="">@RHexplica</li>
                        <li><img src="static/imagens/logoface.png" alt="">/RHexplica</li>
                    </ul>
                </p>
            </div>

        </aside>


        <footer>
            <h1>FIQUE POR DENTRO</h1>
            <p>Gostou da nossa iniciativa e quer receber conteúdo?<br />
            Então se cadastre e fique sempre por dentro!</p>
            <button><a href="cadastro">QUERO RECEBER CONTEÚDO</a></button>
            <img src="static/imagens/fiquepordentro.jpg" alt="">
        </footer>

        <fim>
            <a href="" class="logo"><span>RH:</span>explica</a>
            <p>Todos os direitos reservados © 2019</p>
        </fim>
    </div>

</body>
</html>